version: '3.8'

services:
  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf

  livekit:
    image: livekit/livekit-server:latest
    command: --config /etc/livekit.yaml
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882"
      - "50000-50100:50000-50100/udp"
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: quantameet
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  auth:
    build:
      context: ../../services/auth
    ports:
      - "8081:8081"

  kms:
    build:
      context: ../../services/kms
    ports:
      - "8082:8082"
